---
import Layout from "@/layouts/Layout.astro";
import ImageByName from "@/components/atoms/ImageByName.vue";
import ContactForm from "@/components/organism/ContactForm.vue";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { detectDeviceFromRequest } from "@/core/helper/detectDevice";

let lang = getLangFromUrl(Astro.url);

const { contact: TContact } = useTranslations(lang);
const { info, seo } = TContact;
const { isMobile } = detectDeviceFromRequest(Astro.request);

Astro.cookies.set("lang", lang, {
  path: "/",
  maxAge: 60 * 60 * 24 * 30,
  sameSite: "strict",
  secure: true,
});
---

<Layout title={seo.title}>
  <head slot="head">
    <link rel="preload" as="image" href="/assets/contact-me.svg" />
    <link rel="preload" as="image" href="/assets/effect-card.svg" />
  </head>
  <main
    class="flex flex-col md:flex-row h-full min-h-[76vh] w-full bg-dark-background"
  >
    {
      !isMobile && (
        <section class="hidden md:flex p-4 ml-20 select-none contact-illustration">
          <ImageByName
            name="contactMe"
            className="w-screen h-[100%] max-w-xl max-h-full select-none !animate-float"
            fetchpriority="high"
          />
        </section>
      )
    }
    <section class="flex-1 p-4 flex flex-col gap-6 items-center justify-center">
      <div class="absolute !z-1 opacity-40 top-20 -left-96">
        <ImageByName
          name="effectCard"
          className="w-2/3 h-full"
          fetchpriority="high"
        />
      </div>
      <ContactForm client:load lang={lang} />
      <div class="text-light text-xs mt-4 font-mono">
        {info.orEmail}
        <a href="mailto:josehenriquez@gmail.com" class="text-pink underline"
          >{info.joseEmail}</a
        >
      </div>
    </section>
  </main>
</Layout>

<style>
  input::placeholder,
  textarea::placeholder {
    color: hsl(0, 0%, 44%);
    font-family: "Fira Code", monospace;
  }

  .contact-illustration {
    min-width: 350px;
    min-height: 350px;
    width: 400px;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1024px) {
    .contact-illustration {
      min-width: 220px;
      min-height: 220px;
      width: 240px;
      height: 240px;
    }
  }
</style>
