---
import Layout from "@/layouts/Layout.astro";
import { useTranslations, getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const { home: THome } = useTranslations(lang);
const { seo: TSeo } = THome;
---

<Layout title={TSeo.title}>
  <main>
    
  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
