---
import { useTranslations, getLangFromUrl } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import Components from "@/components/template/Components.astro";

const lang = getLangFromUrl(Astro.url);
const { components: TComponents } = useTranslations(lang);
const { seo: TSeo } = TComponents;
---

<Layout title={TSeo.title}>
  <main>
    <Components />
  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76vh;
  }
</style>
