---
import Layout from "@/layouts/Layout.astro";
import Components from '@/components/template/Components.astro';
---

<Layout title="Portfolio | Components">
  <main>
    <Components />
  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
