---
interface Props {
  title: string;
}

const { title } = Astro.props;
// import Navbar from "@/components/organism/Header.astro";
import Header from "../components/organism/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <Header />
      <slot />
    </main>
  </body>
</html>

<style>
  body{
    padding: 50px;
    background-color: var(--card);
    overflow-y: hidden;
    overflow-x: hidden;
  }
  main{
    max-height: 90vh;
    border: 2px solid var(--border);
    border-radius: 20px;
    background-color: var(--darkBackground);
    box-shadow: 0 0 50px 0 var(--border-effect);
  }
  @media (max-width: 926px) {
    body{
      overflow-y: scroll;
    }
    main{
      max-height: 100vh;
    }
  }
</style>
